body{
  font-family: sans-serif;
}
p a{
 font-size: 14px;
 color: #C7651E;
  text-decoration: none;
  margin-bottom: 54px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
p h2{
  font-size: 24px;
  text-align: center;
}
footer{
  border-top: 5px solid #06550E;
  margin-bottom: 54px;
}
footer p{
  text-align: center;
}
footer img{
width: 99px;
height: 65px;
margin-left: 54px;
}
