body{
  font-family: sans-serif;
}
p a{
 font-size: 20px;
 color: #C7651E;
  text-decoration: none;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}

footer{
  border-top: 5px solid #06550E;
  margin-top: 104px;
}
footer p{
  text-align: center;
  font-size: 20px;
}
footer img{
width: 99px;
height: 65px;
margin-left: 54px;
}
.ci{
    font-size: 19px;
  text-align: center;
}
